<div class='container'>
    <h1 class='text-center'>My Car Maintenance</h1>
    <p class='text-center'>
        <a href="/repair">My Repair Store</a>
    </p>
    <!-- Will have to call repair from the href pointing to routes querying DB -->

</div>