<div class='container'>
    <!-- Will have to call repair from the href pointing to routes querying DB -->
    <div class="card border-light text-white bg-dark mb-3" style="width: 22rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h1 class='text-center'>My Car Maintenance</h1>
        <p class="card-text">Preview your car maintenance records in your Repair Store</p>
        <a class="btn btn-success" href="/repair">My Repair Store</a>
        </div>
    </div>
</div>