<div class="container">
    <form class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
        <label for="vinNumber" class="form-label">Vin Number</label>
        <input type="text" class="form-control" id="vinNumber">
        </div>
        <div class="col-auto">
        <label for="mileage" class="form-label">Mileage</label>
        <input type="text" class="form-control" id="mileage">
        </div>
        <div class="col-auto">
        <label for="vehicle" class="form-label">Vehicle</label>
        <select id="vehicle" class="form-select">
            <option selected>Select your vehicle</option>
            <option value="ford">Ford</option>
            <option value="toyota">Toyota</option>
        </select>
        </div>
        <div class="col-12">
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-success" href="/">Home</a>
        </div>
    </form>
</div>