<div class="repair-container">
        <div class="col">
            <input type="text" class="form-control" placeholder="Vin Number" aria-label="Vin Number">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Mileage" aria-label="Mileage">
        </div>
</div>